<section class="news">
    <h2><a href='/news/2019/07-16-coming-soon-epoch'>Coming Soon...Epoch!</a></h2>
    <p class='news-date'>July 16, 2019</p>

    <div class='news-image-right'>
      <img src="/frontend/img/teasers/EpochTeaser3.png" alt="" width="195" />
    </div>

    <p>Scott's next novel is coming soon. Epoch was actually the first novel Scott wrote, but it's a much longer, more complex story, so it took a bit more time to polish. It's a very different kind of story, more along the lines of speculative fiction. Epoch is a post-apocalyptic horror with a heavy focus on philosophy (in particular the topic of identity), ethics, morality, and sociology.</p>

    <p>It's a "what if" story in which a mysterious catastrophic event occurs which disables all electronics and wipes all the memories of all people. Now everyone is forced to rediscover themselves and to learn how to survive in a harsh new world with no law and order.</p>

    <p>More details will come soon. Keep an eye out for the release announcement in the next couple of weeks!</p>
</section>
