<section class="news">
    <h2>New Website Launched</h2>
    <p class='news-date'>June 30, 2019</p>
    <p>Scott's new website has been launched! He designed and built the site himself from scratch using HTML, CSS, and a tiny bit of PHP. For those interested in the technical details, it's using Twitter Bootstrap as the CSS framework and Twig templates in the backend. To make the site as fast-loading as possible, there's a PHP script which renders the Twig templates and saves them as plain .html files. All CSS and JavaScript files are merged together and minified so that they load quicker.</p>
</section>
