{% if not is_rss %}<section class="news">
    <h2>The AI HEART Project</h2>
    <p class='news-date'>February 11, 2026</p>{% endif %}

    <p>Scott recently began work on a new collaborative project called the <a href="https://yasmin-fy.github.io/ai-heart-project/">AI HEART Project</a>. This project was founded by a small group of independent researchers and user advocates from various backgrounds with the common goal of safe artificial intelligence for everyone. As LLMs grow in prominence every day, it becomes clearer that, while the benefits and potential of this technology are amazing, the risks are equally outstanding. This project aims to identify and mitigate that risk by researching safeguards and other safety mechanisms.</p>

    <p>Scott, as a developer, has contributed to the project by building and maintaining its website, and as an author, by serving as an editor for the articles and reports being written.</p>
   
    <p>In response to a recent research publication by individuals affiliated with Anthropic, Scott also wrote an article which examines the research and outlines some of its shortcomings. Reat more about it in: <a href="https://yasmin-fy.github.io/ai-heart-project/articles/assistant-axis/">The Assistant Axis: Shortcomings Stabilizing Interaction Dynamics</a>.
{% if not is_rss %}</section>{% endif %}
