{% extends 'books/base.html.twig' %}

{% block meta_title %}Scott Finlay - A Fatal Exception{% endblock %}
{% block meta_description %}In a bleak future where daily smog warnings are routine and the politicians are dirtier than the environment, the people of Chicago turn to private investigators like Seven Sinclair when they want a case solved right.{% endblock %}
{% block page_class %}articles{% endblock %}
{% block canonical %}https://www.scottfinlayauthor.com/a-fatal-exception{% endblock %}
{% block share_image %}https://www.scottfinlayauthor.com/frontend/img/books/a-fatal-exception.jpg{% endblock %}

{% block book_image %}/frontend/img/books/a-fatal-exception.jpg{% endblock %}

{% block book_title %}A Fatal Exception{% endblock %}
{% block publish_date %}July 1, 2019{% endblock %}

{% block book_description %}
    <p>In a bleak future where daily smog warnings are routine and the politicians are dirtier than the environment, the people of Chicago turn to private investigators like Seven Sinclair when they want a case solved right. Seven isn't like most detectives since he's an android. He's not like most androids either. He's quirky and brazen and he's not chained down by the government-imposed privacy regulations.</p>
    <p>Sergeant Antonio Rizzo is a good cop in a corrupt town, and he's getting too old for the job. He despises technology, and the robot is like the personification of his object of hatred.</p>
    <p>When Seven's investigation into a simple hack leads to murder and all evidence points to him, he's forced to catch the true killer while he tries to stay out of Rizzo's crosshairs.</p>
{% endblock %}

{% block book_categories %}
<ul>
    <li>Hardboiled Detective</li>
    <li>Mystery</li>
    <li>Hard Science Fiction</li>
    <li>Technothriller</li>
    <li>Dystopian</li>
</ul>
{% endblock %}

{% block amazon_link %}https://www.amazon.com/dp/B07TV8MLHR{% endblock %}

{% block page_count %}230{% endblock %}
{% block isbn %}9781075430503{% endblock %}
{% block kindle_asin %}B07TV8MLHR{% endblock %}
{% block paperback_asin %}107543050X{% endblock %}
