{% extends 'layout.html.twig' %}

{% block page_class %}articles{% endblock %}
{% set current_page = "books" %}

{% block content %}
<section class="book">
    <div class="row">
        <div class='col-sm-5 book-image'>
            <img src="{% block book_image %}{% endblock %}" alt="" />

            <div class='book-buy'>
                <h4>Get It Here</h4>
                <a href="{% block amazon_link %}{% endblock %}" target="_blank" rel="noopener noreferrer" style="border:none;text-decoration:none"><img src="/frontend/img/amazon-button.png"></a>
            </div>
        </div>
        
        <div class='col-sm-7 book-content'>
            <h1>{% block book_title %}{% endblock %}</h1>
            <p class="publish-date">Published on {% block publish_date %}{% endblock %}</p>
            <div class='book-description'>{% block book_description %}{% endblock %}</div>

            <div class='book-categories'>
                <h3>Genres & Themes</h3>
                <div class="book-category-list">
                    {% block book_categories %}{% endblock %}
                </div>
            </div>

        </div>
    </div>

    <div class="row">
        <div class='col-sm-5'>
            <div class="book-specs">
                <h3>Book Details</h3>
                <table class="table table-striped">
                    <tbody>
                        <tr>
                           <th>Page Count</th>
                           <td>{% block page_count %}{% endblock %}</td>
                        </tr>
                        {% if block('isbn') != "" %}
                        <tr>
                            <th scope="row">ISBN</th>
                            <td>{% block isbn %}{% endblock %}</td>
                        </tr>
                        {% endif %}
                        <tr>
                            <th scope="row">Kindle ASIN</th>
                            <td>{% block kindle_asin %}{% endblock %}</td>
                        </tr>
                        {% if block('paperback_asin') != "" %}
                        <tr>
                            <th scope="row">Paperback ASIN</th>
                            <td>{% block paperback_asin %}{% endblock %}</td>
                        </tr>
                        {% endif %}
                        <tr>
                            <th scope="row">Other Links</th>
                            <td class='social-media'>{% block social_media %}{% endblock %}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class='col-sm-7 praise'>
            {% block praise %}{% endblock %}
        </div>
    </div>
</section>
{% endblock %}
