<section class="news">
    <h2><a href='/articles/the-agile-development-of-a-novel'>The Agile Development of a Novel</a></h2>
    <p class='news-date'>January 17, 2021</p>

    <p>Everyone has read a novel and used software, but how many people really know how they're produced? It may
        surprise many (also within the two disciplines) to learn that the process of writing a book and that of
        writing software have quite a lot of similarities. The similarities are so profound, in fact, that tools and
        techniques used within one practice can be adapted and applied to the other to improve the process.</p>

    <p>In the next paragraphs, I'll give a crash course on the different stages of software development and novel writing,
        underlining the parallels. I'll also demonstrate some of the enhancements I've been able to make by utilizing
        learnings from both worlds.</p>

    <p>Before you actually start writing your story or your code, you need to...</p>

    <p>Read the rest <a href='/articles/the-agile-development-of-a-novel' target='_blank'>here</a>.</p>
</section>
