<section class="news">
    <div class='news-image'>
      <a href='/the-galactic-idiot'><img loading="lazy" src="/frontend/img/books/the-galactic-idiot.jpg" alt="" width="195" height="312" /></a>
    </div>
    <h2><a href='/news/2021/01-06-the-galactic-idiot-published'>The Galactic Idiot Published!</a></h2>
    <p class='news-date'>January 6, 2021</p>
    <p>Scott's third full-length novel, <a href='/the-galactic-idiot'>The Galactic Idiot</a>, has been published!</p>
    <p>The trouble with Gary isn't his crooked teeth or the mole on his cheek. It isn't even the haircut which makes his head look like a bowling ball. The trouble with Gary is that he's a moron. But he's not just your average run-of-the-mill dimwit. Gary's idiocy is special because, unlike most idiots, he's stupid on a planetary level. Literally. The last thing he said before destroying the moon was, "Oops."</p>

    <p>It all started the day Gary's uncle colonel Virgil Cross got him a job aboard Terra One, Earth's very first and most decrepit intergalactic space station. Gary had always wanted to be a space traveler and an adventurer despite his sheltered life. Growing up, he nourished himself with comic books and television, and was pretty sure that's how the universe worked.</p>

    <p>After inadvertently causing the greatest catastrophe in human history, Gary is on the run from two of the galaxy's most powerful and least forgiving empires in a broken and unpredictable ship, encountering many diverse friends and enemies along the way including: Shii'an the always-cool seven-limbed rogue; Mon Arun, the a shape-shifting reptilian spy; Korg, the dour purple goliath who just wants to tinker with machines; Megatroll, the most dangerous computer worm in history trapped in a robot vacuum cleaner; and Queen Morgaan the omnipresent insectoid mother of a trillion mindless drones and a single daughter she'll protect at all costs.</p>

    <p>The novel is available for Kindle and paperback on <a href='https://www.amazon.com/dp/B08S7GBRZN' target='_blank'>Amazon</a>.</p>
</section>
