{% if not is_rss %}<section class="news">
    <h2><a href='/articles/hacking-in-fiction-vs-reality'>Hacking in Fiction vs Reality</a></h2>
    <p class='news-date'>January 24, 2021</p>{% endif %}

    <p>Fiction and reality tend to differ in most aspects, be it relationships, secret agents, doctors, you name it. But
        hackers are by far one of the most falsely-represented things in media of all forms.</p>

    <p>Take this example:</p>

    <blockquote>A loud crunch echoed throughout the Dungeon as EtherLord cracked his knuckles. The Dungeon,
        his underground hacking lab, was illuminated only by the glowing lights of his three monitors. He opened a
        console window, hunched over his keyboard, and began typing with a fury that would have made Beethoven envious.
        It was taking too long, so he conjured up another terminal, and another, and another. Code soared across the
        screen at a record pace. Then he was in. It had taken him three minutes to crack the power grid's security.
        With the next keystroke, the entire east coast would be sitting in the dark. EtherLord smiled. Click.</blockquote>

    <p>Pretty dramatic, and pretty exciting. It's also pretty unrealistic. Scenes like this are all over the media.
        They're in movies and books, and it's even how the news depicts hackers, but the truth is, hacking is nothing
        like that. Unfortunately, as interesting as it sounds (and is), hacking (and coding in general) is pretty
        boring to watch... <a href='/articles/hacking-in-fiction-vs-reality'>Read more</a></p>
{% if not is_rss %}</section>{% endif %}
