<section class="news">
    <div class='news-image'>
      <a href='/a-fatal-exception'><img src="/frontend/img/books/a-fatal-exception.jpg" alt="" width="195" height="312" /></a>
    </div>
    <h2>A Fatal Exception Published!</h2>
    <p class='news-date'>July 1, 2019</p>
    <p>Scott's first novel, <a href='/a-fatal-exception'>A Fatal Exception</a>, has been published!</p>
    <p>In a bleak future where daily smog warnings are routine and the politicians are dirtier than the environment, the people of Chicago turn to private investigators like Seven Sinclair when they want a case solved right. Seven isn't like most detectives since he's an android. He's not like most androids either. He's quirky and brazen and he's not chained down by the government-imposed privacy regulations.</p>
    <p>Sergeant Antonio Rizzo is a good cop in a corrupt town, and he's getting too old for the job. He despises technology, and the robot is like the personification of his object of hatred.</p>
    <p>When Seven's investigation into a simple hack leads to murder and all evidence points to him, he's forced to catch the true killer while he tries to stay out of Rizzo's crosshairs.</p>
    <p>The novel is available for Kindle and paperback on <a href='https://www.amazon.com/dp/107543050X' target='_blank'>Amazon</a>.</p>
</section>
