{% extends 'layout.html.twig' %}

{% block meta_title %}Scott Finlay - About{% endblock %}
{% block meta_description %}A short biography of the author, Scott Finlay. A bit about his works, styles, and inspirations.{% endblock %}
{% block page_class %}articles{% endblock %}
{% block canonical %}https://www.scottfinlayauthor.com/about{% endblock %}

{% block content %}

<h1>About Scott</h1>

<p>Scott Finlay, born in 1989 in the United States, is a professional software developer with an expertise in computer security. For many years he was active in the hacker scene and there known and respected as a skilled white hat hacker. In his daily life he designs complex systems, investigates disruptions, and sometimes tries unusual solutions by thinking outside the box. He draws on his architectural skills while designing his stories and his debugging skills are in many ways similar to those of a detective. Through his technical expertise, particularly regarding software and hacking topics he is able to write accurately.<p>

<p>In 2012 Scott moved to Germany for love and started a family there. As an American living in Europe, he has a somewhat unique view on the world and its politics, and draws inspiration from many of the issues he sees in the world to build dystopian settings and make social commentary.</p>

{% endblock %}
