{% extends 'layout.html.twig' %}

{% block meta_title %}Scott Finlay - Contact{% endblock %}
{% block meta_description %}Find out how to contact Scott.{% endblock %}
{% block page_class %}articles{% endblock %}
{% block canonical %}https://www.scottfinlayauthor.com/contact{% endblock %}

{% block content %}

<h1>Contact</h1>

<p>The best way to contact Scott is via email: <a href='mailto:scottfinlayauthor@gmail.com<'>scottfinlayauthor@gmail.com</a></p>
<p>Also be sure to visit Scott's <a href="https://www.facebook.com/ScottFinlayAuthor">Facebook</a> page.</p>
{% endblock %}
