{% extends 'layout.html.twig' %}

{% block meta_title %}Scott Finlay - Privacy Policy{% endblock %}
{% block meta_description %}The privacy policy of the Scott Finlay Author website. Privacy and security is imortant for Scott.{% endblock %}
{% block page_class %}articles{% endblock %}
{% block canonical %}https://www.scottfinlayauthor.com/privacy{% endblock %}

{% block content %}

<h1>Privacy Policy</h1>

<p>Scott can proudly say that there's not much to say about privacy for this website. It uses no cookies and stores no user data. In fact, it stores no data at all. These are simple, static pages which are burned as .html files and are cached by a CDN.</p>

{% endblock %}
