<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <ul class="list-inline text-center">
                    <li>
                        <a href="https://www.amazon.com/Scott-Finlay/e/B07TXBTJHH" target='_blank'>
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-amazon fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/ScottFinlayAuthor" target='_blank'>
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/a.world.of.darkness/" target='_blank'>
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="mailto:scottfinlayauthor@gmail.com" target='_blank'>
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                </ul>
                <ul class="list-inline text-center">
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="/privacy">Privacy</a></li>                
                </ul>
                <p class="copyright text-center">&copy; {{ "now"|date("Y") }} Scott Finlay. Hosted by <a href='https://secure.ftpit.com/aff.php?aff=69'>FtpIT</a></p>
            </div>
        </div>
    </div>
</footer>
