<section class="news">
    <h2>Something New Is Coming</h2>
    <p class='news-date'>November 16, 2020</p>

    <div class="news-image">
        <img loading="lazy" src="/frontend/img/teasers/the-galactic-idiot-teaser.jpg" alt="The Galactic Idiot" style="max-width:300px;height:auto">
    </div>
    <p>Something new is coming soon...</p>
    <br>
    <p>Something different...</p>
    <br>
    <p>Something epic...</p>
    <br>
    <p>Something absurd...</p>
    <div class="clearfix"></div>
</section>
